<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :book_title %>
  <%= form.text_field :book_title %>
  <br>
  <br>
  <%= form.label :authors %>

  <%= form.select(:author_ids, @authors.map { |author| [author.name, author.id] },
                                   { include_hidden: false, :prompt => 'Select Authors' },
                                   { :multiple => true, size: 5 }
                                 ) %>
  <br>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
